<div id="<%= dom_id player %>">
  ID: <%= player.id %>
  <br>
  Name: <%= player.name %>
  <br>
  Country: <%= player.country.Official_Name %>
  <br>
  Total Goals: <%= player.goals.count %>
  <br>
  Activity: <%= player.first_year_of_activity %>
</div>
