<%= form_with url: players_path, method: :get, local: true do %>
  <p>
    <%= label_tag :query, "Search Players:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Players" %>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>
    <p>
      <%= link_to player.name, player %>
    </p>
  <% end %>
</div>