<div>
  <h1>
    Games of
    <%= link_to "<", dashboard_with_year_path(year: @year - 1), class: "button", id: "increase-year" %>
    <%= @year %>
    <%= link_to ">", dashboard_with_year_path(year: @year + 1), class: "button", id: "increase-year" %>
  </h1>
  <br>
  <br>
  <br>
  Total games: <%= @games.count %>
  <br>
  Total ties: <%= @games.where(neutral: true).count %>
  <br>
  Games with shootouts: <%= @games.joins("INNER JOIN shootouts ON games.id = shootouts.game_id ").count %>
  <br>
  <%#= @games.each do |game| %>
    <%#= render game %>
  <%# end %>
</div>
