<div id="<%= dom_id country %>">
  <br>
  <%= render MapComponent.new(country: country.Official_Name) %>
  <br>
  Official Name: <%= country.Official_Name %>
  <br>
  Active: <%= country.first_year_of_activity %> - <%= country.last_year_of_activity %>
  <br>
  ISO: <%= country.ISO %>
  <br>
  Global score: <%= country.global_score %> points
  <br>
  Total Games: <%= country.number_of_games %>
  <br>
  Total Wins: <%= country.number_of_wins %>
  <br>
  Total Loses: <%= country.number_of_loses %>
  <br>
  Total Ties: <%= country.number_of_ties %>
  <br>
  Players: <%= country.number_of_players %>

  <%= render WinLossTieBarChartComponent.new(title: "All games Statistics", wins: country.number_of_wins, losses: country.number_of_loses, ties: country.number_of_ties) %>

  <%= render WinLossTieLineChartComponent.new(
    title: "All games statistics by year",
    wins: country.yearly_statistics[:wins],
    losses: country.yearly_statistics[:losses],
    ties: country.yearly_statistics[:ties],
    first_year: country.yearly_statistics[:first_year],
    last_year: country.yearly_statistics[:last_year]
  ) %>
  <%= render WinLossTieBarChartComponent.new(title: "Home games Statistics", wins: country.number_of_wins_as_home, losses: country.number_of_loses_as_home, ties: country.number_of_ties_as_home) %>

  <%= render WinLossTieBarChartComponent.new(title: "Away games Statistics", wins: country.number_of_wins_as_away, losses: country.number_of_loses_as_away, ties: country.number_of_ties_as_away) %>

  <h1>Games for <%= @country.Official_Name %> (Filtered by Year Range)</h1>

  <%= form_with url: country_path(@country), method: :get, local: true do %>
    <label for="start_year">Start Year:</label>
    <input type="number" id="start_year" name="start_year" value="<%= params[:start_year] %>">
    <br>
    <label for="end_year">End Year:</label>
    <input type="number" id="end_year" name="end_year" value="<%= params[:end_year] %>">
    <button type="submit">Filter</button>
  <% end %>
  <% @games.each do |game| %>
    <div id="<%= dom_id game %>">
      <br>
      <table>
        <tr>
          <th>Country</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
        <tr>
          <td><%= game.home_team.Official_Name %></td>
          <td><%= game.home_score %></td>
          <td rowspan="2"><%= game.date %></td>
        </tr>
        <tr>
          <td><%= game.away_team.Official_Name %></td>
          <td><%= game.away_score %></td>
        </tr>
      </table>
    </div>
  <% end %>

</div>