<%= form_with url: countries_path, method: :get, local: true do %>
  <p>
    <%= label_tag :query, "Search Countries:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Countries" %>

<h1>Countries</h1>

<div id="countries">
  <% @countries.each do |country| %>
    <p>
      <%= link_to country.Official_Name, country %>
    </p>
  <% end %>
</div>