<%= stylesheet_link_tag "main_nav_bar_component" %>
<nav>
  <ul>
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= countries_path %>">Countries</a></li>
    <li><a href="<%= players_path %>">Players</a></li>
    <li><a href="<%= games_path %>">Games</a></li>
    <li><a href="<%= goals_path %>">Goals</a></li>
    <li><a href="<%= shootouts_path %>">Shootouts</a></li>
  </ul>
</nav>