<p style="color: green"><%= notice %></p>

<%= render @shootout %>

<div>
  <%= link_to "Edit this shootout", edit_shootout_path(@shootout) %> |
  <%= link_to "Back to shootouts", shootouts_path %>

  <%= button_to "Destroy this shootout", @shootout, method: :delete %>
</div>
